.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .slick-prev, 
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: transparent;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
  .slick {
    &-dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 150px;
      margin: 0 auto;
      margin-top: 50px;
      list-style-type: none;
      li {
        width: 18px;
        height: 8px;
        button {
          display: block;
          font-size: 0;
          background-color: transparent;
          width: 18px;
          height: 8px;
          border: 1px solid $main-color;
          border-radius: 30%;
        }
      }
    }
    &-active {
      width: 18px;
      border-radius: 30%;
      background-color: $main-color;
    }
  }
  // .tns-item {
  //   img {
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }
}
