.feedback {
  .title {
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    max-width: 905px;
    margin-bottom: 75px;
    &-title {
      margin: 0;
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
    }
    &-subtitle {
      display: block;
      margin-bottom: 14px;
      color: #646464;
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__img {
    display: block;
    width: 169px;
    height: 169px;
    margin-right: 62px;
  }
  &__text {
    font-size: 16px;
    line-height: 19px;
  }
}