.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.56);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 380px;
  min-width: 310px;
  min-height: 400px;
  padding: 38px 40px 40px 40px;
  background-color: #f2f2f2;
  transform: translate(-50%, -50%);
  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 18px;
    color: $main-color;
    cursor: pointer;
  }
  &__subtitle {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  &__descr {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  &_mini {
    min-height: 140px;
  }
  .invalid {
    border: 1px solid $main-color
  }
  div.invalid {
    margin-top: -15px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #c70101;
    border: none;
    &:nth-child(4) {
      margin-top: -20px;
    }






  }
}

#consultation,
#order,
#thanks {
  display: none;
}